<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skin_10_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,273},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_10_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{70,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{70,61}</string>
            </dict>
            <key>skin_11_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,231},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_11_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>skin_12_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,426},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_12_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,118},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>skin_13_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,376},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_13_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_13_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,61},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>skin_14_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_14_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_14_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,60},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>skin_15_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,326},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_15_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,277},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_15_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,65},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>skin_16_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,231},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_16_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,176},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>skin_17_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,235},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_17_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,223},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_17_body3.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,181},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_17_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,127},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>skin_18_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,181},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_18_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_18_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>skin_1_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_1_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,80}}</string>
                <key>sourceSize</key>
                <string>{117,80}</string>
            </dict>
            <key>skin_1_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,127},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>skin_2_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>skin_2_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,276},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_2_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,119},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>skin_3_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,285},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>skin_3_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{60,90}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,90}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>skin_3_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,173},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>skin_4_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,227},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_4_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,185},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_4_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{70,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,57}}</string>
                <key>sourceSize</key>
                <string>{70,57}</string>
            </dict>
            <key>skin_5_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,173},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_5_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,123},{62,60}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>skin_5_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,84},{40,34}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{62,34}</string>
            </dict>
            <key>skin_6_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,123},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_6_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{70,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{70,61}</string>
            </dict>
            <key>skin_7_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_7_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,64},{70,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{70,61}</string>
            </dict>
            <key>skin_8_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,226},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_8_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,60},{70,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{70,61}</string>
            </dict>
            <key>skin_9_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,177},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>skin_9_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{70,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{70,61}</string>
            </dict>
            <key>skin_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,120},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>snake_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,64},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snake_skin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f687dbdb2484b33325f08ce346c64749$</string>
            <key>textureFileName</key>
            <string>snake_skin.png</string>
        </dict>
    </dict>
</plist>
